build/
env/
packages/
test-cases/
analysis/
.history/
.ipynb_checkpoints/
dist/
powerfit/.structure.py
scripts/gemmilist.txt
scripts/xyz_fixed.py
scripts/structtest.py
scripts/shphereradius.py
*.c
*.pyc
powerfit.egg-info/
