build/
env/
packages/
test-cases/
analysis/

*.pyc

.venv/
dist/
powerfit_em.egg-info/
src/powerfit_em/_powerfit.c
src/powerfit_em/_extensions.*.so
src/powerfit_em/_powerfit.*.so

.coverage
coverage.xml
